[Desktop Entry]
Name=camera
Name[zh_TW]=摄像头
Name[zh_CN]=摄像头

Type=Application
Icon=/usr/share/pixmaps/camera.png
Exec=/home/myir/mxcamera --platform linuxfb
Terminal=false
MimeType=application/x-directory;inode/directory;
Categories=System;FileTools;Utility;Qt;FileManager;
